/* the styles for the html elements */

body {
    background-color: #ccc;
    background: url('./images/ukraine.jpg');
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

.container {
    /* margin-top: 0; */
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 0.5em 2em;
}

header {
    margin: 0;
    border-bottom: 2px solid black;
}

header h1 {
    margin: 0;
    padding: 0.5em 0;
    color: black;
}

aside {
    float: left;
    width: 150px;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

nav ul li {
    padding-bottom: 0.5em;
}

section {
    float: left;
    width: 800px;
    padding-bottom: 1.5em;
    margin: 0 3rem;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: 0.5em 0 0.25em;
}

h2 {
    font-size: 120%;
    padding: 0.25em 0 0.5em;
}

h1,
h2 {
    color: #333;
}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: #29407c;
    font-weight: bold;
}

a:hover {
    color: #d08504;
}

.table-dark {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-image {
    /* the styles for classes */
    /********************************************************************
  * Additional styles for the record Manager application
  ********************************************************************/
}

.table-image td,
.table-image th {
    vertical-align: middle;
}

.table-image td,
.table-image th {
    border: 1px dashed black;
    padding: 0.2em 0.5em 0.2em 0.5em;
    vertical-align: top;
    text-align: left;
}

.table-image form {
    margin: 0;
}

.table-image br {
    clear: left;
}

.table-image .right {
    text-align: right;
}

.table-image .last_paragraph {
    margin-bottom: 2em;
}

.table-image .margin_top_increase {
    margin-top: 1em;
}

.table-image img {
    width: 200px;
    padding: 0;
}

.table-image #add_record_form {
    margin: 0.5em 0 1em;
}

.table-image #add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    float: left;
}

.table-image #add_record_form input {
    float: left;
}

.table-image #add_record_form input[text] {
    width: 15em;
}

.table-image .group:after {
    content: "";
    display: table;
    clear: both;
}

.table-image #addButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    color: white;
}

.table-image #addButton i {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    color: white;
}

.table-image .edit-delete-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.table-image .no-transactions-found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: x-large;
}


/* CSS */

#w3-display-middle #draw-border {
    -webkit-box-shadow: inset 0 0 0 4px #58afd1;
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.08333s;
    transition: color 0.25s 0.08333s;
    position: relative;
}

#w3-display-middle #draw-border::before,
#draw-border::after {
    border: 0 solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

#w3-display-middle #draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

#w3-display-middle #draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

#w3-display-middle #draw-border:hover {
    color: #ffe593;
}

#w3-display-middle #draw-border:hover::before,
#draw-border:hover::after {
    border-color: #ffe593;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

#w3-display-middle #draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

#w3-display-middle #draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.w3-display-middle .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

.w3-display-middle .btn:focus {
    outline: 2px dotted #55d7dc;
}

body {
    background: #1f1a25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}

.banner {
    height: 100vh;
    width: 100%;
    background: url('../images/083554381.jpg');
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

.banner .navbar {
    margin-top: 4%;
}

.banner .navbar-brand {
    color: rgb(238, 255, 0);
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 10%;
}

.banner .nav {
    margin-right: 10%;
}

.banner .nav li a {
    color: rgb(238, 255, 0);
    font-size: 1.2em;
}

.banner .info {
    margin-top: 15%;
    transform: translateY(-15%);
}

.banner .info h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: rgb(238, 255, 0);
    letter-spacing: 2px;
}

.banner .info p {
    font-size: 2em;
    font-weight: 500;
    color: rgb(238, 255, 0);
    letter-spacing: 2px;
}

.banner .info a {
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #2b1de9;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
}

.banner .info a:hover {
    background: #2b1de9;
}


/*# sourceMappingURL=main.css.map */